body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

#parent {
  font-size: 20px;
}

#child p {
  font-weight: bold;
}

.google-fonts {
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap" rel="stylesheet">
}

.decoration-h1 {
  font-size: 2em;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115,115,114);
}

.decoration-skyblue {
  color: skyblue;
}

.decoration-rgb {
  color: rgb(255,192,203);
}